{{new-announcement addNewAnnouncement2="addNewAnnouncement3"}}

<ul>
  {{#each model as |announcement|}}
    <!-- {{announcement-tile announcement=announcement}} -->
    {{announcement.message}}
    <p>
      test
    </p>
  {{/each}}
</ul>
